{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "func-names": ["error", "never"],
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off"
  },
  "globals": {
    "UA_TOKEN": false,
    "getAppMain": false,
    "GM_notification": false
  },
  "env": {
    "greasemonkey": true
  }
}
