.item.player.small.TOTW .infoTab-extra, 
.item.player.small.OTW .infoTab-extra, 
.item.player.small.TOTS .infoTab-extra, 
.item.player.small.TOTY .infoTab-extra, 
.item.player.small.legend .infoTab-extra {
  color: white;
}

.item.player.small .infoTab-extra {
  width: 100%;
  height: 100%;
  position: absolute;
}
