.ut-content-container {
    padding: 0;

    .ut-content {
        border: 0;
        
        &.ut-content--split-view-extend {
            max-height: 100%;
        }
    }
}

.listFUTItem .entityContainer .name.untradeable {
    display: block;

    &::before {
        position: relative;
        padding-right: 10px;
    }
}

.ut-club-search-results-view.ui-layout-left .listFUTItem .entityContainer,
.ut-unassigned-view.ui-layout-left .listFUTItem .entityContainer {
    width: 45%;
}

@media (min-width: 1281px) {
    .ut-content-container .ut-content {
        max-width: 100%;
        max-height: 100%;
    }

    .ut-split-view .ut-content {
        max-width: 100%;
        max-height: 100%;
    }
}