.futsettings-toggle {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
  z-index: 999;

  ::before {
    font-family: UltimateTeam-Icons,sans-serif;
    content: "\f139";
    font-size: 2rem;
    color: black;
  }
}

.futsettings {
  position: absolute;
  top: 125px;
  bottom: 10px;
  left: 115px;
  right: 10px;
  background-color: #dfe5f3;
  border: 1px solid black;
  overflow-y: auto;
  display: none;
  z-index: 998;
  padding: 12px;

  footer {
    background-color: #fbfbfb;
    border: 1px solid #c1c1c1;
    text-align: center;
    padding: 12px;

    hr {
      border: none;
      border-bottom: 1px solid #ddd;
    }
    
    p, li {
      font-size: smaller;
      margin: 10px;
    }
  }

  .feature-settings-empty {
    margin-bottom: 25px;
  }

  .feature-settings {
    margin-bottom: 25px;
    background-color: #f2f6ff;
    padding: 8px;

    .setting {

      padding: 8px;

      input[type=number],
      input[type=text] {
        width: 100%;
        height: 2.5em;
        text-align: left;
        background-color: #fbfbfb;
        color: #33314e;
        border: 1px #33314e solid;
        padding: 8px;
        clear: both;
        display: block;
      }
    }
  }
}
