.futsettings-toggle {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
  z-index: 999;

  ::before {
    font-family: UltimateTeam-Icons,sans-serif;
    content: "\E056";
    font-size: 2rem;
    color: black;
  }
}

.futsettings {
  position: absolute;
  top: 112px;
  bottom: 0;
  left: 105px;
  right: 0;
  background-color: #fff;
  overflow-y: auto;
  display: none;
  z-index: 998;
  padding: 15px;

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  footer {
    text-align: center;
    padding: 15px;

    hr {
      border: none;
      border-bottom: 1px solid #ddd;
    }

    p, li {
      font-size: smaller;
      margin: 10px;
    }
  }

  .settings-title {
    color: #183f94;
    font-size: 2.5em;
    font-weight: 400;
    font-family: UltimateTeamCondensed,sans-serif;
    line-height: 1em;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    width: 100%;
  }

  .main-setting {
    label {
      display: inline-block;
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }

  .feature-settings-empty {
    display: none;
  }

  .feature-settings {
    background-color: #f5f5f5;
    margin-bottom: 25px;
    padding: 10px;
    position: relative;

    .setting {
      padding: 10px;

      input[type=number],
      input[type=text] {
        background-color: #fff;
        border: 1px #33314e solid;
        clear: both;
        color: #33314e;
        display: block;
        font-size: 14px;
        height: 3.5em;
        padding: 10px;
        text-align: left;
        width: 100%;
      }
    }
  }

  input[type=checkbox] {
    display: none;
    + label {
      cursor: pointer;
      position: relative;
      padding-left: 50px;

      &:before {
        background-color: #ccc;
        border: 1px solid #999;
        border-radius: 8px;
        content: '';
        height: 16px;
        left: 0;
        position: absolute;
        transition: background-color 300ms ease, border-color 300ms ease;;
        width: 40px;
      }
      &:after {
        background-color: #999;
        border: 1px solid #999;
        border-radius: 50%;
        content: '';
        height: 22px;
        left: 0;
        margin-top: -3px;
        position: absolute;
        transform: translateX(0);
        transition: background-color 300ms ease, border-color 300ms ease, transform 300ms ease;
        width: 22px;
      }
    }
    &:checked + label {
      &:before {
        background-color: #fc87ac;
        border-color: #f93b78;
      }
      &:after {
        background-color: #f93b78;
        border-color: #f93b78;
        transform: translateX(20px);
      }
    }
  }
}
